<%- include("partials/header.ejs") %>

<div class="main-container"> 
    <div class="top-banner">
        <h1>PROJECTS</h1>
        <h2>Some of the things I have worked on</h2>
    </div>
    
    <div class="contents">
    <div class="projects-grid">
        <% for (var i = 0; i < projects.length; i++) { %>
            <div class="card flex-item">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="<%= projects[i].imgUrl %>" alt="<%= projects[i].name %>">
                        <h3><%= projects[i].name %></h3>
                    </div>
                    <div class="card-back"> 
                        <h4>Tech stack used: <br><%= projects[i].tech %></h4>
                        <p><%= projects[i].description %></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    </div>
</div>